---
layout: default
---

<!-- City Background -->
<div id="header">
  <!-- Input -->
  <div class="wrap">
    <h1>San Francisco, CA</h1>

    <!-- Current Location -->
    <div class="current-location">
      <i class="fa fa-map-marker"></i>
      <p>San Francisco, CA</p>
      <p>{{ site.time | date: '%I:%M %p' }}</p>
    </div>
  </div>

  <!-- Laest Locations -->
  <div class="latest-locations">
    <a href="#"> <span class="nav"> Latest Locations </span> <i class="fa fa-map"></i><a>
  </div>
</div>

<!-- Navigation -->
{% include navigation.html %}

<!-- Weather  -->
{% include weather/forecast.html %}
