---
layout: default
---

<!-- City Background -->
<div class="container" id="header">
  <!-- Input -->
  <div class="col-md-4">
    <h1>San Francisco, CA</h1>
  </div>

  <!-- Current Location -->
  <div class="col-md-2 col-md-offset-6 current-location">
    <i class="fa fa-map-marker"></i>
    <p>San Francisco, CA</p>
    <p>{{ site.time | date: '%I:%M %p' }}</p>
  </div>

  <!-- Laest Locations -->
  <div class="col-md-3 col-md-offset-9 latest-locations">
    <a href="#"> <span class="nav"> Latest Locations </span> <i class="fa fa-map"></i><a>
  </div>
</div>

<!-- Navigation -->
{% include navigation.html %}

<!-- Weather  -->
{% include weather/forecast.html %}
