<div class="forecast-background">
</div>
<div class="forecast">
  <div class="wrap">
    <!-- Current -->
    <div class="today">
      <span>82</span>
      <!-- Today's date  -->
      <p>{{ site.time | date: '%a %d'}}</p>
    </div>
    <!-- Current Weather -->
    <div class="current-weather">
      <span><i class="wi wi-day-sunny"></i></span>
      4mph / 67
    </div>

    <!-- Forecast -->
    <div class="day">
      <p class="rounded">Tue</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="day">
      <p class="rounded">Wed</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="day">
      <p class="rounded">Thu</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="day">
      <p class="rounded">Fri</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="day">
      <p class="rounded">Sat</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="day">
      <p class="rounded">Sun</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
  </div>
</div>
