<div class="forecast-background">
</div>
<div class="forecast">
  <div class="wrap">
    <!-- Current -->
    <div class="today">
      <p class="current-temp">82&deg;</p>
      <!-- Today's date  -->
      <p class="rounded">{{ site.time | date: '%A %d'}}<sup>th</sup></p>
    </div>
    <!-- Current Weather -->
    <div class="current-day">
      <p class="current-weather"><i class="wi wi-day-sunny"></i></p>
      <p class="current-stat">4mph <span>/</span> 67&deg;</p>
    </div>

    <!-- Forecast -->
    <div class="day">
      <p class="rounded">Tue</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
    <div class="day">
      <p class="rounded">Wed</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
    <div class="day">
      <p class="rounded">Thu</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
    <div class="day">
      <p class="rounded">Fri</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
    <div class="day">
      <p class="rounded">Sat</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
    <div class="day">
      <p class="rounded">Sun</p>
      <i class="wi wi-day-sunny"></i>
      <p class="temp">60&deg;</p>
    </div>
  </div>
</div>
