<div class="forecast-container">
  <div class="container forecast">
    <!-- Current -->
    <div class="col-md-3">
      <h1>82</h1>
      <!-- Today's date  -->
      <p>{{ site.time | date: '%a %d'}}</p>
    </div>
    <!-- Current Weather -->
    <div class="col-md-3">
      <h1><i class="wi wi-day-sunny"></i></h1>
      4mph / 67
    </div>

    <!-- Forecast -->
    <div class="col-md-1">
      <p>Tue</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="col-md-1">
      <p>Wed</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="col-md-1">
      <p>Thu</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="col-md-1">
      <p>Fri</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="col-md-1">
      <p>Sat</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
    <div class="col-md-1">
      <p>Sun</p>
      <i class="wi wi-day-sunny"></i>
      <p>60</p>
    </div>
  </div>
</div>
